@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

.home_container {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

.home {
    display: flex;
    justify-content: justify;
    height: 30vh;
    width: 100%;
    background-color: #30163e;
    color: white;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    text-align: left;
    padding-left: 19%;
    padding-bottom: 15%;
    padding-top: 13%;
}

.short_description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-color: #f9f9f9;
    padding-top: 20px;
    text-align: left;
    flex-wrap: wrap;
    padding-left: 0%;
}

.content {
    margin-left: 50px;
    max-width: 500px;
    color: #222;
    padding-left: 2%;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 30px;
}

.content p {
    font-size: 1.16rem;
    line-height: 1.6;
    margin-bottom: 40px;
    font-family: 'Inter', sans-serif;
}

.short_description .content {
    flex: 1 1 400px; /* Allow text block to grow, but min 400px */
    margin-left: 50px;
}

.resume_button {
    background-color: #4B0B5F;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    border: 2px solid #4B0B5F;
    transition: all 0.3s ease;
    font-weight: bold;
}

.resume_button :hover{
    background-color: transparent;
    color: #4B0B5F;
}


@media (max-width: 768px) {
    .short_description {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .short_description {
        margin-left: 0;
        margin-top: 30px;
    }
}