
.home {
    display: flex;
    justify-content: justify;
    height: 60vh;
    width: 100%;
    background-color: #30163e;
    padding: 50px 50px;
    color: white;
    flex-direction: column;
    font-family: 'Georgia', serif;
    text-align: left;
    margin: 15%;
}