
.home_container {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

.home {
    display: flex;
    justify-content: justify;
    height: 30vh;
    width: 100%;
    background-color: #30163e;
    color: white;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    text-align: left;
    padding-left: 19%;
    padding-bottom: 15%;
    padding-top: 13%;
}

.short_description {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    background-color: #f9f9f9;
    padding-top: 20px;
    text-align: left;
    flex-wrap: wrap;
    padding-left: 0%;
}

@media (max-width: 768px) {
    .short_description {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px;
    }

    .short_description {
        margin-left: 0;
        margin-top: 30px;
    }
}